body{
	padding: 10px;
	margin: 20px;
}

header{
	background-color: #808080;
	background-image: url("../images/flywheel.jpg");
	background-size: cover;
	padding: 0.5%;
}

h1{
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-size: 250%;
	padding: 20px;
}

nav{
	text-align: center;
}

nav a{
	display: inline-block;
	width: 15%;
	margin:  3%;
	padding:  0.5%;
	text-decoration: none;
	border-radius: 	5px;
	color: #000000;
	background-color: #FFFFF0;
}
nav a:visited{
		color: #6a5acd;
}
nav a:hover{
	color: #ff0000;
}

.active{
	color: #ffffff;
	background-color: #000000;
}

h2{
	color: #000080;
	text-transform: uppercase;
}

.left{
	background-color: #818b47;
	float: left;
	width: 20%;
	height: 100vh;
}

.left img{
	display: block;
	margin:auto;
	margin-top: 3%;
	width: 80%;
	border: solid #000000;
}

.right{
	margin: 10px;
	float: left;
	width:  70%;
	height: 100vh;
	font-size: 110%;
}


